// 色票來源：Hyper v5.4.2 admin 模板 creative 版本
// D:\SideProject\Hyper_v5.4.2\Admin\src\assets\scss\config\creative\_variables.scss
$primary   : #3d73dd
$secondary : #6c757d
$accent    : #727cf5

$dark      : #313a46

$positive  : #10c469
$negative  : #ff5b5b
$info      : #35b8e0
$warning   : #f9c851
